<fieldset>
	<legend>{{ text_title }}</legend>
	<p>
		<b>{{ text_description }}</b>
	</p>
	<form name="checkout" method="POST" enctype="text/html" action="https://checkout.cardinity.com" accept-charset="UTF-8">

		<input type="hidden" name="amount" value="{{amount}}"/>
		<input type="hidden" name="country" value="{{country}}"/>
		<input type="hidden" name="language" value="{{language}}"/>
		<input type="hidden" name="currency" value="{{currency}}"/>
		<input type="hidden" name="description" value="{{description}}"/>
		<input type="hidden" name="order_id" value="{{order_id}}"/>
		<input type="hidden" name="project_id" value="{{project_id}}"/>
		<input type="hidden" name="return_url" value="{{return_url}}"/>
		<input type="hidden" name="cancel_url" value="{{cancel_url}}"/>
		<input type="hidden" name="signature" value="{{signature}}"/>
		
		<div class="d-inline-block pt-2 pd-2 w-100 text-end">
			<button type="submit" id="button-confirm" class="btn btn-primary">{{ button_confirm }}</button>
		</div>

	</form>
</fieldset>
